.empty-workspace {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.workspace {
  padding: 10px;
}

.workspace__content {
  max-width: fit-content;
}

.workspace__date {
  text-align: center;

}

.workspace__title-input {
  margin-bottom: 24px;
}

.markdown-html {}

.markdown-html * img {
  max-width: 100%;
}
