.empty-workspace {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.workspace {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.workspace__date {
  text-align: center;
}
